@font-face {
	font-family: 'Trajan-Regular';
	/*src: url('fonts/Trajan-Regular.eot');*/
	src: local('☺'), 
		url('fonts/Trajan-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Trajan-Regular.woff') format('woff'), 
		url('fonts/Trajan-Regular.ttf') format('truetype'), 
		url('fonts/Trajan-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Trajan-Bold';
	/*src: url('fonts/Trajan-Bold.eot');*/
	src: local('☺'), 
		url('fonts/Trajan-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Trajan-Bold.woff') format('woff'), 
		url('fonts/Trajan-Bold.ttf') format('truetype'), 
		url('fonts/Trajan-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}